<button routerLink = "/playerhome"  *ngIf = "valid"></button>
<mat-toolbar>
    <span>Login</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
            <mat-radio-group aria-label="Coach or Player" >
                <mat-radio-button (click) = "toggleCoachMode()" value="Coach">Coach</mat-radio-button>
                <mat-radio-button (click) = "togglePlayerMode()" value="Player">Player</mat-radio-button>
              </mat-radio-group>
              <br>
         <!--Add users Email-->
         <div style = "margin-top: 20px;">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" type = "text" required [(ngModel)]="email" >
         </mat-form-field>
         <br>
         <!--Add users password-->
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password"  name="password" type = "password" required [(ngModel)]= "password">
         </mat-form-field>
      </div>
      <div style = "margin-top: 10px;">
         <button (click) = "login()" routerLink = "/playerhome"  *ngIf = "mode == 'Player'"  mat-raised-button color="primary" >login</button>
         <button (click) = "login()" routerLink = "/coachhome" *ngIf = "mode == 'Coach'"  mat-raised-button color="primary" >login</button>
      </div>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <!--REGISTER BUTTON HERE-->
     </mat-card-actions>
  </mat-card>
  
