
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <div *ngIf="this.share.loggedin == false">
     <span><a href="/">Home</a></span>
  </div>
     <span class="spacer"></span>
     <div *ngIf="this.share.loggedin == false">
     <a mat-button routerLink="/register-team">Register Team</a>
     <a mat-button routerLink="/register">Register Person</a>
     <a mat-button routerLink="/login">Login</a>
    </div>

    <div *ngIf="this.share.loggedin == true">
      <a mat-button (click)="logout()" routerLink="/">Logout</a>
     </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-header></app-header>