<div class="topnav">
    
    <a href="/">Gamehub</a>
    <a href="/">Team Leader Board</a>
    <a href="/playerprofile">Profile</a>
</div>
<mat-card >
    <div>
        <h1><u>{{player.first_name}} {{player.last_name}}</u></h1>
        <h3>number: {{player.number}}</h3>
        <h3>height: {{player.height}}</h3>
        <h3>weight: {{player.weight}}</h3>
        <h3>shoots: {{player.handness}}</h3>
        <h3>position: {{player.position}}</h3>
    </div>
</mat-card>
<div>
    <mat-card>
        <h2>Team: {{team.name}}</h2>
        <h3>Record: {{team.team_record}}</h3>
        <h3>Division: {{team.division}}</h3>
        <h3>League: {{team.league}}</h3>
    </mat-card>
    <mat-card>
        <h2>Stats</h2>
        <h3>Goals: {{player_stats.goals}}</h3>
        <h3>Assists: {{player_stats.assists}}</h3>
        <h3>Hits: {{player_stats.hits}}</h3>
        <h3>PIMS: {{player_stats.pims}}</h3>
        <h3>Faceoff Percentage: {{player_stats.f_percentage}}</h3>
        <h3>Shots: {{player_stats.shots}}</h3>
    </mat-card>
</div>