<div class="topnav">
    
    <a href="/game">New Game</a>
    <a href="/">Gamehub</a>
    <a button (click)="routeLeader()">Team Leader Board</a>
    <a href="/coachprofile">Profile</a>
  </div>
  <mat-card >
    <div>
        <h1><u>{{coach.first_name}} {{coach.last_name}}</u></h1>
        
    </div>
</mat-card>

    <mat-card>
        <h2>Team: {{team.name}}</h2>
        <h3>Record: {{team.team_record}}</h3>
        <h3>Division: {{team.division}}</h3>
        <h3>League: {{team.league}}</h3>
        <h3>Shots: {{team_stats.shots}}</h3>
        <h3>Shots Against: {{team_stats.shotsAgainst}}</h3>
        <h3>PIMS: {{team_stats.pims}}</h3>
    </mat-card>