<html>
    <div class="topnav">
    
        <a button (click)="routeHome()">Home Page</a>
        <div *ngIf="coachsignedin == true">
            <a button (click) = 'routeNewGame()'>New Game</a>
          </div>
        <a button (click)="routeLeader()">Team Leader Board</a>
        <a button (click)="routeProfile()">Profile</a>
        <a button (click)="routeGameHub()">Game Hub</a>
      </div>
<body>
<div class="a">
<h1 style ="font-size:60px;">{{team[0].Name}} {{gamesheet[0].Team_score}} - {{gamesheet[0].Opponent_score}} {{game[0].Opponent}}</h1>
</div>

<div class="boxleft">
    <h1>{{team[0].Name}}</h1>
    <p>Goals {{gamesheet[0].Team_score}}</p>
    <p>Shots {{gamesheet[0].Team_shots}}</p>
    <p>Hits {{gamesheet[0].Team_hits}}</p>
    <p>Faceoff Win {{gamesheet[0].F_wins}}</p>
    <p>Faceoff Loss {{gamesheet[0].F_losses}}</p>
    <p>Home/Away {{game[0].HomeAway}}</p>
</div>
<div class="boxright">
    <h1>{{game[0].Opponent}}</h1>
    <p>Goals {{gamesheet[0].Opponent_score}}</p>
    <p>Shots {{gamesheet[0].Opponent_shots}}</p>
    <p>Faceoff Win {{gamesheet[0].F_losses}}</p>
    <p>Faceoff Loss {{gamesheet[0].F_wins}}</p>
</div>

<div style="margin-top: 300px;" class="center" id="rink">
    <img id="rink-img" src="assets/img/rink.jpg" height="500px" width="800px"/>
  </div>


</body>
</html>
