

<div class="container">
  <div class="row">
    
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!-- Number -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td *matCellDef="let element"> {{element.number}} </td>
        
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-button mat-cell *matCellDef="let element" color ="#0000FF">{{element.name}}</td>
        </ng-container>
      
        <!-- Goal Column -->
        <ng-container matColumnDef="goals">
          <th mat-header-cell *matHeaderCellDef> Goals </th>
          <td mat-cell *matCellDef="let element"> {{element.goals}} </td>
          
        </ng-container>
      
        <!-- Assist Column -->
        <ng-container matColumnDef="assists">
          <th mat-header-cell *matHeaderCellDef> Assists </th>
          <td mat-cell *matCellDef="let element"> {{element.assists}} </td>
        </ng-container>
    
        <!-- Shots Column -->
        <ng-container matColumnDef="shots">
            <th mat-header-cell *matHeaderCellDef> Shots </th>
            <td mat-cell *matCellDef="let element"> {{element.shots}} </td>
          </ng-container>
    
          <!-- Hits Column -->
        <ng-container matColumnDef="hits">
            <th mat-header-cell *matHeaderCellDef> Hits </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button (click)="printHits(element)">{{element.hits}} </button> </td> 
          </ng-container>
    
           <!-- Faceoff Percentage Column -->
        <ng-container matColumnDef="faceoff_win">
            <th mat-header-cell *matHeaderCellDef> Faceoff Wins </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button (click)="printHits(element)">{{element.faceoff_win}} </button>
            </td>
          </ng-container>

           <!-- Faceoff Loss Column -->
           <ng-container matColumnDef="faceoff_loss">
            <th mat-header-cell *matHeaderCellDef> Faceoff Losses </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="printHits(element)">{{element.faceoff_loss}} </button>
            </td>
          </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
    <div id="rink">
      <img id="rink-img" src="assets/img/rink.jpg"  (click)="getCoord($event)"/>
    </div>
    <div>
      <button (click) = "onGoal()"  mat-raised-button color="primary">{{goalCancelToggle}}</button>
    </div>
    <div style="margin-top:10px;" *ngIf = "goalInput">
      <div style="margin-left:10px;" >
        <mat-form-field class = "update-field" appearance="fill">
          <mat-label>Number of Goal Scorer</mat-label>
          <input appearance="fill" matInput placeholder="Goal Scorer" type="text" [(ngModel)]="goalNumber">
        </mat-form-field>
        <mat-form-field class = "update-field" appearance="fill">
          <mat-label>Number of Assist</mat-label>
          <input appearance="fill" matInput placeholder="Assist" type="text" [(ngModel)]="assist1Number">
        </mat-form-field>
        <mat-form-field class = "update-field" appearance="fill">
          <mat-label>Number of Assist</mat-label>
          <input appearance="fill" matInput placeholder="Assist" type="text" [(ngModel)]="assist2Number">
        </mat-form-field>
      </div>
      <div>
        <button (click) = "submitGoal()"  mat-raised-button color="primary">Submit</button>
      </div>
    </div>

    </div>
  </div>

  
