<mat-toolbar>
    <span>Registration Person</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
          <!--Add users first name-->
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input  matInput  placeholder="First name"  name="fname"  required>
         </mat-form-field>
         <br>
         <!--Add users last name-->
         <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input  matInput  placeholder="Last Name" name="lname"  required>
         </mat-form-field>
         <br>
         <!--Add users Email-->
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" required>
         </mat-form-field>
         <br>
         <!--Add users password-->
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password"  name="password" required>
         </mat-form-field>
        </form>
        <!--Add buttons for coaches and players-->
        <mat-radio-group aria-label="Coach or Player">
            <mat-radio-button value="Coach">Coach</mat-radio-button>
            <mat-radio-button (click)="togglePlayer()" value="Player">Player</mat-radio-button>
          </mat-radio-group>
          <!--This will only show if player is selected-->
          <div *ngIf = "getPlayer()">
            <p>What up bitches</p>
          </div>    
     </mat-card-content>
     <mat-card-actions>
        <!--REGISTER BUTTON HERE-->
     </mat-card-actions>
  </mat-card>
