<mat-toolbar>
    <span>Registration Person</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
          <!--Add users first name-->
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input  matInput  placeholder="First name"  name="fname" [(ngModel)]="editPlayer.first_name"  required>
         </mat-form-field>
         <br>
         <!--Add users last name-->
         <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input  matInput  placeholder="Last Name" name="lname" [(ngModel)]="editPlayer.last_name"  required>
         </mat-form-field>
         <br>
         <!--Add users Email-->
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" [(ngModel)]="editPlayer.email" required>
         </mat-form-field>
         <br>
         <!--Add users password-->
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password"  name="password" [(ngModel)]="editPlayer.password" required>
         </mat-form-field>
        </form>
        <!--Add buttons for coaches and players-->
        <mat-radio-group aria-label="Coach or Player">
            <mat-radio-button (click)="togglePlayerFalse()" value="Coach">Coach</mat-radio-button>
            <mat-radio-button (click)="togglePlayerTrue()" value="Player">Player</mat-radio-button>
          </mat-radio-group>
          <!--This will only show if player is selected-->
          <div *ngIf = "getPlayer()">
                      <!--Add users height in cm-->
          <mat-form-field class="full-width">
            <mat-label>Height (cm)</mat-label>
            <input  matInput  placeholder="Height"  name="height"  [(ngModel)]="editPlayer.height" required>
         </mat-form-field>
         <br>
          <!--Add users height in cm-->
            <mat-form-field class="full-width">
               <mat-label>Weight(lbs)</mat-label>
                  <input  matInput  placeholder="Weight"  name="weight" [(ngModel)]="editPlayer.weight" required>
            </mat-form-field>
         <br>
         <!--Add buttons for left and right handed-->
        <mat-radio-group aria-label="Left or Right Handed">
         <mat-radio-button  value="LeftHanded">Left Handed</mat-radio-button>
         <mat-radio-button  value="RightHanded">Right Handed</mat-radio-button>
       </mat-radio-group>
         <br>
         <!--Add users height in cm-->
         <mat-form-field class="full-width">
            <mat-label>Number</mat-label>
               <input  matInput  placeholder="Number"  name="number" [(ngModel)]="editPlayer.height" required>
         </mat-form-field>
         <br>
         <!--Add buttons for position-->
        <mat-radio-group aria-label="Position of Player">
         <mat-radio-button  value="Left Wing">LW</mat-radio-button>
         <mat-radio-button  value="Centre">C</mat-radio-button>
         <mat-radio-button  value="Right Wing">RW</mat-radio-button>
         <mat-radio-button  value="Left Defence">LD</mat-radio-button>
         <mat-radio-button  value="Right Defence">RD</mat-radio-button>
       </mat-radio-group>
          </div>
          <div style = "margin-top: 10px;">
            <button (click)="registerPerson()"mat-raised-button color="primary">Register</button>
         </div>    
     </mat-card-content>
     <mat-card-actions>
        <!--REGISTER BUTTON HERE-->
     </mat-card-actions>
  </mat-card>
